/* MEDIA QUERTY */
@media only screen and (min-width: 950px) {
  .outer-menu{ display: none;}
}







@media only screen and (max-width: 2000px) {
  nav{
    width: 1200px;
    /* background-color: red; */
  }
}


@media only screen and (max-width: 1225px) {
  nav{
    width: 100%;
    /* background-color: black; */
  }
}


@media only screen and (max-width: 950px) {
  nav{
    width: 100%;
    /* background-color: green; */
  }
  .responsive-large{ display: none;}
}
